@mixin for-phone {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url(../assets/img/8yZdN0J.jpg);
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include for-phone {
    // overflow-x: hidden;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(18, 42, 136);
  text-transform: uppercase;
  min-height: 8vh;
  position: relative;

  .logo {
    font-size: 22px;
    color: white;
    letter-spacing: 5px;
  }
  .nav-links {
    @media screen and(max-width: 1050px) {
      width: 50%;
    }
    display: flex;
    justify-content: space-around;
    width: 40%;
    transition: all .2s ease;


    @include for-phone {
      //display: none;
      position: absolute;
      right: 0;
      background-color: rgba(18, 42, 136, 0.39);
      height: 92vh;
      width: 50%;
      top: 8vh;
      flex-direction: column;
      align-items: center;
      transform-origin: top right;
      //transform: translateX(100%);
      transform: scale(0, 1);
      -webkit-transform: scale(0, 1);
      -moz-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      -o-transform: scale(0, 1);
    }
    &.open {
      //transform: translateX(0%);
      transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
    }
    li {
      color: white;
      list-style: none;
      font-weight: bold;
      letter-spacing: 3px;
      @include for-phone {
        opacity: 0;
      }
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .burger {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    @include for-phone {
      display: flex;
    }
    .bar {
      width: 40px;
      height: 5px;
      border-radius: 3px;
      background-color: white;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 5px;
        border-radius: 3px;
        background-color: white;
      }
      &::before {
        top: 25px;
        // transform: translateY(-16px);
      }
      &::after {
        // transform: translateY(16px);
        bottom: 25px;
      }
    }
  }
}
